Automapic/Service References/SWLoginService/SWLogin4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Capa_Entidad.Bitacora" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Capa_Entidad.Bitacora" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://srvstd.ingemmet.gob.pe/WS_Seguridad/SWLogin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Capa_Entidad" />
  <xs:complexType name="Cls_Ent_Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CORREO_INSTITUCIONAL_PERSONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CORREO_PERSONAL_PERSONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOMBRE_PERSONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NRO_DOC_PERSONA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TIPO_DOC_PERSONA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cls_Ent_Persona" nillable="true" type="tns:Cls_Ent_Persona" />
  <xs:complexType name="Cls_Ent_PersonaExterna">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Capa_Entidad" base="q1:Cls_Ent_Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="APELLIDO_MATERNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="APELLIDO_PATERNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CELULAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODIGO_DNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODIGO_UBIGEO_DNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODIGO_VERIFICA_DNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CORREO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FECHA_NACIMIENTO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLG_DECLARACION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLG_TERMINO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FLG_VALIDO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_DEPARTAMENTO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_DISTRITO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_LF" type="xs:int" />
          <xs:element minOccurs="0" name="ID_PAIS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_PROVINCIA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
          <xs:element minOccurs="0" name="ID_TIPO_DOCUMENTO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_TIPO_PERSONA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_TIPO_USUARIO" type="xs:int" />
          <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OBSERVACION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RAZON_SOCIAL" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RUC" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RepresentanteLegal" nillable="true" type="tns:Cls_Ent_PersonaRepresentante" />
          <xs:element minOccurs="0" name="TELEFONO" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cls_Ent_PersonaExterna" nillable="true" type="tns:Cls_Ent_PersonaExterna" />
  <xs:complexType name="Cls_Ent_PersonaRepresentante">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Capa_Entidad" base="q2:Cls_Ent_Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="APELLIDO_MATERNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="APELLIDO_PATERNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CELULAR" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CODIGO_DNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CORREO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DIRECCION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DNI" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_LF" type="xs:int" />
          <xs:element minOccurs="0" name="ID_PERSONA_EXTERNA" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ID_TIPO_DOCUMENTO" type="xs:int" />
          <xs:element minOccurs="0" name="NOMBRES" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Cls_Ent_PersonaRepresentante" nillable="true" type="tns:Cls_Ent_PersonaRepresentante" />
  <xs:complexType name="ArrayOfCls_Ent_Oficina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cls_Ent_Oficina" nillable="true" type="tns:Cls_Ent_Oficina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCls_Ent_Oficina" nillable="true" type="tns:ArrayOfCls_Ent_Oficina" />
  <xs:complexType name="Cls_Ent_Oficina">
    <xs:sequence>
      <xs:element minOccurs="0" name="DESC_OFICINA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_OFICINA" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cls_Ent_Oficina" nillable="true" type="tns:Cls_Ent_Oficina" />
</xs:schema>