Automapic/Service References/SWLoginService/SWLogin3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://srvstd.ingemmet.gob.pe/WS_Seguridad/SWLogin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" />
  <xs:import schemaLocation="https://srvstd.ingemmet.gob.pe/WS_Seguridad/SWLogin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Capa_Entidad" />
  <xs:import schemaLocation="https://srvstd.ingemmet.gob.pe/WS_Seguridad/SWLogin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Capa_Entidad.Bitacora" />
  <xs:import schemaLocation="https://srvstd.ingemmet.gob.pe/WS_Seguridad/SWLogin.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Usuario_ObtenerModulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="ID_PERFIL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_ObtenerModulosResult" nillable="true" type="q1:RespuestaSeguridadM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_LoginResult" nillable="true" type="q2:RespuestaSeguridadU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioActiveDirectory_Login1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioActiveDirectory_Login1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="UsuarioActiveDirectory_Login1Result" nillable="true" type="q3:RespuestaSeguridadU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioActiveDirectory_Login2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioActiveDirectory_Login2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="UsuarioActiveDirectory_Login2Result" nillable="true" type="q4:RespuestaSeguridadU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Sistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_SistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_SistemaResult" nillable="true" type="q5:RespuestaSeguridadU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Eliminar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_USUARIO" type="xs:long" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="USU_MODIFICACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_MODIFICACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_EliminarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_EliminarResult" nillable="true" type="q6:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Estado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_USUARIO" type="xs:long" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="FLG_ESTADO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_MODIFICACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_MODIFICACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_EstadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_EstadoResult" nillable="true" type="q7:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="entidad" nillable="true" type="q8:Cls_Ent_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_InsertarResult" nillable="true" type="q9:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Actualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="entidad" nillable="true" type="q10:Cls_Ent_Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_ActualizarResult" nillable="true" type="q11:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarActivacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_USUARIO" type="xs:long" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="FECHA_ACTIVACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FECHA_DESACTIVACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_MODIFICACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_MODIFICACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarActivacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_ActualizarActivacionResult" nillable="true" type="q12:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Obtener_Id_UsuarioResult" nillable="true" type="q13:RespuestaSeguridadID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cod_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cod_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Cod_UsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Id_PersonaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_Token">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_TokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Validar_TokenResult" nillable="true" type="q14:RespuestaSeguridadBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encriptar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncriptarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE_USUARIO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_ActualizarClaveResult" nillable="true" type="q15:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_PedirClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_PedirClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_PedirClaveResult" nillable="true" type="q16:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_OlvidoClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CORREO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_CREACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_CREACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_OlvidoClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_OlvidoClaveResult" nillable="true" type="q17:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_VerificaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_MODIFICACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_MODIFICACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_VerificaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_VerificaCodigoResult" nillable="true" type="q18:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Capa_Entidad.Bitacora" minOccurs="0" name="entidad" nillable="true" type="q19:Cls_Ent_PersonaExterna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="PersonaExterna_InsertarResult" nillable="true" type="q20:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_Validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="ID_TIPO_USUARIO" type="xs:int" />
        <xs:element minOccurs="0" name="FLG_VALIDO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OBSERVACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_CREACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_CREACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_ValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="PersonaExterna_ValidarResult" nillable="true" type="q21:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Laser_Importar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SERVIDOR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="VOLUMEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CARPETA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CARPETAS" nillable="true" type="q22:ArrayOfstring" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="MIARCHIVO" nillable="true" type="q23:SeguridadArchivo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Laser_ImportarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Laser_ImportarResult" nillable="true" type="q24:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Laser_Exportar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SERVIDOR" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_LF" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Laser_ExportarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Laser_ExportarResult" nillable="true" type="q25:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_SISTEMA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Perfil_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Perfil_ListarResult" nillable="true" type="q26:RespuestaPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Perfiles_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_USUARIO" type="xs:long" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="ID_OFICINA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Perfiles_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_Perfiles_ListarResult" nillable="true" type="q27:RespuestaPerfil" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Oficinas_Listar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Oficinas_ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_Oficinas_ListarResult" nillable="true" type="q28:RespuestaOficina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="usuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Solicitud_LoginResult" nillable="true" type="q29:RespuestaSolicitudLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_Registrar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="entidad" nillable="true" type="q30:Cls_Ent_Solicitud_Usuario_Login" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_RegistrarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Solicitud_RegistrarResult" nillable="true" type="q31:RespuestaSolicitudLoginRegistro" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_Validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
        <xs:element minOccurs="0" name="usuarioId" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_ValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Solicitud_ValidarResult" nillable="true" type="q32:RespuestaSeguridadBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_Expirar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Solicitud_ExpirarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Solicitud_ExpirarResult" nillable="true" type="q33:RespuestaSeguridadBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>